@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Btk Akademi Kurs Başvuru Sayfası</h1>
    <a class="btn btn-primary" href="/course/apply">Apply</a>
</div>
 