@model String[]
<div>
    <h3 class="display-3">
       Index 2 deyiz.
    </h3>
    <div class="lead">
        @foreach (var name in Model)
        {
            <p>
             @name
            </p>
           
        }
    </div>
</div>